@charset "utf-8";

@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/css3";
@import "govuk_frontend_toolkit/stylesheets/device-pixels";
@import "govuk_frontend_toolkit/stylesheets/font_stack";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/helpers";
@import "govuk_frontend_toolkit/stylesheets/measurements";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/url-helpers";

@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

@import "govuk-elements-sass/public/sass/elements/helpers";
@import "govuk-elements-sass/public/sass/elements/buttons";
@import "govuk-elements-sass/public/sass/elements/elements-typography";
@import "govuk-elements-sass/public/sass/elements/forms";
@import "govuk-elements-sass/public/sass/elements/layout";
@import "govuk-elements-sass/public/sass/elements/lists";
@import "govuk-elements-sass/public/sass/elements/panels";

@import "govuk_template/source/assets/stylesheets/styleguide/colours";
@import "govuk_template/source/assets/stylesheets/accessibility";
@import "govuk_template/source/assets/stylesheets/footer";

@import "util/printable";

@import "modules/breadcrumbs";
@import "modules/content-section";
@import "modules/full-width-form";
@import "modules/govuk-logo";
@import "modules/header";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/hero-button";
@import "modules/masthead";
@import "modules/phase-banner";
@import "modules/related-items";
@import "modules/responsive-embed";
@import "modules/skip-link";
@import "modules/sub-navigation";
@import 'modules/footer-categories';

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include core-19;
}

// scss-lint:disable IdSelector
#main {
  display: block;
  margin-bottom: $gutter * 0.2;
}
// scss-lint:enable IdSelector

a:link {
  color: $link-colour;
}

a:visited {
  color: $link-visited-colour;
}

a:hover {
  color: $link-hover-colour;
}

a:active {
  color: $link-active-colour;
}

.services-link {
  clear: both;
  padding-top: 30px;
}

.lede{
  @include core-24;
}

.lede.list{
	margin-bottom: 2em;
	li{
		font-size: 1em;
	}
}

ul {
  margin: 0;
  padding: 0;
}

.footer-links {
  font-size: 0.85em;
  line-height: 1.5em;
}

.lead-in { margin-bottom: 0; }

.lead-in-bold { font-weight: bold; }

// department logos (adapted from GOV.UK organisation pages)

.org__margin {
  margin: 0 0 30px -15px;
}

.org-logo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.1538461538;
  font-weight: 400;
}

.org-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #0b0c0c;
  height: auto;
  width: auto;
  direction: ltr;
}

.org-logo__name {
  position: relative;
  top: 3px;
}

.org-logo__crest {
  border-left: 2px solid #0b0c0c;
  padding-top: 20px;
  padding-left: 6px;
}

.org-logo__crest--single-identity {
    background: url("https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px_x2-3eb6258ba699c8ae2c3cf370e8a4422f37bdae95ae084a99115841a8bf0543a7.png") no-repeat 5px 0;
    background-size: auto 20px;
}

.org-logo__crest--hmrc {
  background: url("https://assets.publishing.service.gov.uk/government/assets/crests/hmrc_crest_27px_x2-50c5ae1eac742b467695f5889f93024627e14f1c03a39db7a8e55edfe5d4417a.png") no-repeat 5px 0;
  background-size: auto 20px;
}

.brand--department-for-environment-food-rural-affairs .brand__border-color {
  border-color: #00a33b;
}

.brand--department-for-transport .brand__border-color {
  border-color: #006c56;
}

.brand--department-for-work-pensions .brand__border-color {
  border-color: #00beb7;
}

.brand--hm-revenue-customs .brand__border-color {
    border-color: #009390;
}

@media (min-width: 641px) {

  .org-logo {
    font-size: 18px;
    line-height: 20px;
  }

  .org-logo__crest {
      padding-top: 25px;
      padding-left: 7px;
  }

  .org-logo__crest--single-identity {
    background: url("https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px_x2-3eb6258ba699c8ae2c3cf370e8a4422f37bdae95ae084a99115841a8bf0543a7.png") no-repeat 6px 0;
    background-size: auto 26px;
  }

  .org-logo__crest--hmrc {
    background: url("https://assets.publishing.service.gov.uk/government/assets/crests/hmrc_crest_27px_x2-50c5ae1eac742b467695f5889f93024627e14f1c03a39db7a8e55edfe5d4417a.png") no-repeat 6px 0;
    background-size: auto 26px;
  }

  .column-half.org__margin {
    width: 50%;
  }

}
