@charset "utf-8";

$govuk-assets-path: "/";
@import "govuk-frontend/govuk/all";

@import "util/printable";

// Only using the relevant modules
// For more see https://github.com/alphagov/product-page-example

@import "modules/masthead";
@import "modules/breadcrumbs";
@import "modules/hero";
@import "modules/content-section";
@import "modules/org-logos";
@import 'modules/task-list';
@import 'modules/verify-journey-diagram';

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.image-border { border: 1px solid $govuk-border-colour }
