---
title: Connecting to GOV.UK Verify
---
<div class="govuk-width-container">
  <nav aria-label="Breadcrumb" class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#components">Components</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a href="#main">Connecting to GOV.UK Verify</a>
      </li>
    </ol>
  </nav>
</div>

<main class="govuk-main-wrapper" id="main" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Connecting to GOV.UK Verify
        </h1>
        <ol class="govuk-list app-task-list">
          <li>
            <h2 class="govuk-heading-m">
              Check if you need GOV.UK Verify
            </h2>
            <p class="govuk-body">
              Before you start connecting your service to GOV.UK Verify, find out <a href="/how-verify-works" class="govuk-link">how GOV.UK Verify works</a> and <a href="/verify-right-for-your-service" class="govuk-link">if it’s right for your service</a>.
            </p>
          </li>

          <li>
            <h2 class="govuk-heading-m">
              Choose the right level of assurance
            </h2>
            <p class="govuk-body">
              GOV.UK Verify offers different <a href="/understand-levels-of-assurance" class="govuk-link">levels of assurance</a> (LOAs). To help choose the right LOA for your service, <a href="/risk-assessment" class="govuk-link">do a risk assessment</a> and send it to the GOV.UK Verify team. The team will contact you within a week to discuss the right LOA for your service.
            </p>
          </li>

          <li>
            <h2 class="govuk-heading-m">
              Design and research your user journey with GOV.UK Verify
            </h2>
            <p class="govuk-body">
              Find out <a href="/design-your-service" class="govuk-link">how to fit GOV.UK Verify into your service’s user journey</a>, and <a href="/do-research-prototype" class="govuk-link">do user research</a> to test how easily your users can complete the whole journey.
            </p>
          </li>

          <li>
            <h2 class="govuk-heading-m">
              Sign GOV.UK Verify’s agreements
            </h2>
            <p class="govuk-body">
              Your organisation needs to sign GOV.UK Verify’s agreements before connecting your service to GOV.UK Verify.
            </p>
            <p class="govuk-body">
              Contact <a href="mailto:idasupport@digital.cabinet-office.gov.uk" class="govuk-link">idasupport@digital.cabinet-office.gov.uk</a> to request a copy.
            </p>
          </li>

          <li>
            <h2 class="govuk-heading-m">
              Build your connection to GOV.UK Verify
            </h2>
            <p class="govuk-body">
              Your technical team can find step-by-step information on setting up the connection to GOV.UK Verify by reading the <a href="https://www.docs.verify.service.gov.uk/" class="govuk-link">technical documentation</a>. The time taken to connect will vary depending on your team and the complexity of your service.
            </p>
          </li>

          <li>
            <h2 class="govuk-heading-m">
              Keep your GOV.UK Verify connection up to date
            </h2>
            <p class="govuk-body">
              Once your connection is live, your technical team must <a href="https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/" class="govuk-link">replace certificates when they are due to expire</a> and make sure you’re running the <a href="https://github.com/alphagov/verify-service-provider/releases" class="govuk-link">most recent version of the Verify service provider</a>. You should also keep up to date with <a href="https://verifystatus.digital.cabinet-office.gov.uk/" class="govuk-link">GOV.UK Verify’s status</a> by subscribing to updates.
            </p>
          </li>

        </ol>

      </div>
    </div>
  </div>
</main>