---
title: Connecting to GOV.UK Verify
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Connecting to GOV.UK Verify</span></a>
    </li>
  </ol>
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Connecting to GOV.UK Verify</h1>
        <ol class="task-list">
          <h2 class="heading-medium">
            <span class="task-list-section-number">1.</span>Check if you need GOV.UK Verify
          </h2>
          <p>
            Before you start connecting your service to GOV.UK Verify, find out <a href="how-verify-works">how GOV.UK Verify works</a> and <a href="verify-right-for-your-service">if it’s right for your service</a>.
          </p>

          <h2 class="heading-medium">
            <span class="task-list-section-number">2.</span> Choose the right level of assurance
          </h2>
          <p>
            GOV.UK Verify offers different <a href="#">levels of assurance</a> (LOAs). To help choose the right LOA for your service, <a href="#">carry out a risk assessment</a> and send it to the GOV.UK Verify team. The team will get in touch with you within a week to discuss the right LOA for your service.
          </p>

          <h2 class="heading-medium">
            <span class="task-list-section-number">3.</span> Sign GOV.UK Verify’s agreements
          </h2>
          <p>
            Your organisation needs to sign GOV.UK Verify’s agreements to show that you agree to the responsibilities and costs involved in using GOV.UK Verify with your service.
          </p>
          <p>
            Contact GOV.UK Verify on <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> to request a copy.
          </p>

          <h2 class="heading-medium">
            <span class="task-list-section-number">4.</span> Design and research your user journey with GOV.UK Verify
          </h2>
          <p>
            Find out <a href="#">how to fit GOV.UK Verify into your service’s user journey</a>, and <a href="#">carry out user research</a> to test how well the journey works with your users.
          </p>

          <h2 class="heading-medium">
              <span class="task-list-section-number">5.</span> Build your connection to GOV.UK Verify
          </h2>
          <p>
            Your technical team can find step-by-step information on setting up the connection to GOV.UK Verify by reading the <a href="#">technical documentation</a>. The time taken to connect will vary depending on your team and the complexity of your service.
          </p>

          <h2 class="heading-medium">
            <span class="task-list-section-number">6.</span> Keep your GOV.UK Verify connection up to date
          </h2>
          <p>
            Once your connection is live, your technical team must <a href="#">replace certificates when they are due to expire</a> and make sure you’re running the <a href="#">most recent version of the Verify service provider</a>. You should also keep up to date with <a href="#">GOV.UK Verify’s status</a> by subscribing to updates.
          </p>

        </ol>

      </div>
    </div>
  </div>
</main>
