---
title: Do research on your service using a GOV.UK Verify prototype
---

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#components">Components</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/connecting">Connecting to GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Do research on your service using a GOV.UK Verify prototype
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Do research on your service using a GOV.UK Verify prototype
        </h1>
        <p class="govuk-body">
          Because GOV.UK Verify will be part of your service's user journey, you should include the GOV.UK Verify part of the journey when you test your service with users. This will help you understand how easily your users can complete your service’s end-to-end journey.
        </p>
        <p class="govuk-body">
          You can use a prototype GOV.UK Verify user journey to do this. There are 2 prototypes available – one for each level of assurance (LOA).
        </p>
        <p class="govuk-body">
          Each prototype represents a typical GOV.UK Verify user journey at that LOA. In a live service, user journeys will vary depending on the questions asked by the identity provider and evidence provided by the user.
        </p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-!-font-weight-bold" href="https://govuk-verify.herokuapp.com/">Use the prototypes</a>
          </li>
          <li>Username: verifyuser</li>
          <li>Password: verifypass</li>
        </ul>
        <p class="govuk-body govuk-!-margin-top-8">
          <a href="/connecting" class="govuk-link">Return to overview</a>
        </p>
      </div>
    </div>
  </div>
</main>
