---
title: Get Started
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Get started</span></a>
    </li>
  </ol>
</nav>

<main id="content" class="content supplementary" role="main">

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="get-started-check-verify-is-right" itemprop="item"><span itemprop="name">Check GOV.UK Verify is right for your service</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="get-started-understand-how-verify-works" itemprop="item"><span itemprop="name">Understand how GOV.UK Verify works</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="get-started-share-information" itemprop="item"><span itemprop="name">Share information with your team</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="get-started-connect-your-service" itemprop="item"><span itemprop="name">Connect your service to GOV.UK Verify</span></a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Get started</h1>
      <h2 class="heading-large">Connect your service to GOV.UK Verify</h2>
      <p class="lead-in">To connect to Verify you’ll need to complete 6 steps:</p>
      <ol class="list list-number">
        <li><a href="http://alphagov.github.io/identity-assurance-documentation/stage1/Stage1.html#proposal">Proposal</a></li>
        <li><a href="http://alphagov.github.io/identity-assurance-documentation/stage2/Stage2.html#needs-analysis">Needs analysis</a></li>
        <li><a href="http://alphagov.github.io/identity-assurance-documentation/stage3/Stage3.html#planning">Planning</a></li>
        <li><a href="http://alphagov.github.io/identity-assurance-documentation/stage4/Stage4.html#build-and-integration">Build and integration testing</a></li>
        <li><a href="http://alphagov.github.io/identity-assurance-documentation/stage5/Stage5.html#production-onboarding">Connecting to production</a></li>
        <li><a href="http://alphagov.github.io/identity-assurance-documentation/stage6/Stage6.html#in-beta">In beta</a></li>
      </ol>
      <p>You can read about each step in the <a href="http://alphagov.github.io/identity-assurance-documentation/">GOV.UK Verify documentation</a>.</p>
    </div>
  </div>
</main>
