---
title: Choose the right level of assurance
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Get started</span></a>
    </li>
  </ol>
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-one-third">
        <nav class="sub-navigation">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/get-started-understand-how-verify-works" itemprop="item"><span itemprop="name">How GOV.UK Verify works</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/get-started-check-verify-is-right" itemprop="item"><span itemprop="name">Find out if GOV.UK Verify is right for your service</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/get-started-choose-level-of-assurance" itemprop="item"><span itemprop="name">Choose the right level of assurance</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/get-started-connect-your-service" itemprop="item"><span itemprop="name">Connect your service to GOV.UK Verify</span></a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Choose the right level of assurance</h1>
        <p>
          GOV.UK Verify is designed to protect services and users from online identity fraud. It provides 2 different levels of assurance (LOAs) &ndash; LOA 1 and LOA 2.
        </p>
        <p>
          The higher the LOA, the more confident you can be that your users are who they say they are. You should do an assessment to understand how high the risk of identity fraud to your service is &ndash; this will help you choose the right LOA for your service.
        </p>
        <p>
          LOA 1 is the lowest level of assurance offered by GOV.UK Verify. It is usually appropriate if your risk assessment indicates your service’s risk of identity fraud is low.
        </p>
        <p>
          If your risk assessment indicates your service faces a high risk of identity fraud (for instance, because it offers something of high value such as money or a licence), you might want to use LOA 2.
        </p>
        <p>
          If you think your service needs a very high level of confidence about your users’ identities, email <a href="mailto:connect-to-verify-prototype@digital.cabinet-office.gov.uk">connect-to-verify-prototype@digital.cabinet-office.gov.uk</a> to discuss:
        </p>
        <ul class="list list-bullet">
          <li>LOA 3 &ndash; appropriate when a user could face serious consequences from someone else using their identity, such as physical harm or financial ruin</li>
          <li>LOA 4 &ndash; appropriate when a user’s life could be threatened by someone else using their identity</li>
        </ul>
        <h2 class="heading-large">Assessing the risk of identity fraud to your service</h2>
        <p>
          Doing a risk assessment will help you understand the factors that could make your service more or less likely to be targeted by identity fraud. You should consider why your service needs identity assurance and the risks you are trying to protect against.
        </p>
        <p>
          You should focus on the risks associated with someone using a false identity or another person’s identity to access your service. This is different from the issues associated with eligibility, which is about whether users have the right to use your service (for example, users are only eligible to <a href="https://www.gov.uk/apply-universal-credit">apply for Universal Credit</a> if they live in certain areas).
        </p>
        <p>
          To help make your choice of LOA, think about:
        </p>
        <ul class="list list-bullet">
          <li>whether your service has been targeted by identity fraud or cyber crime in the past</li>
          <li>how much money your organisation could lose</li>
          <li>how much damage could be done to your organisation’s reputation if your service is threatened or attacked</li>
          <li>what users can get from your service, for example benefits or personal information</li>
          <li>what financial, physical or emotional damage could be done to a user if someone else impersonated them when using your service</li>
        </ul>
        <h2 class="heading-large">LOA 1</h2>
        <p>
          LOA 1 checks the user’s identity against one or more pieces of identity evidence. This often includes asking questions that only the person the user is claiming to be would know the answer to.
        </p>
        <p>
          LOA 1 is suitable for most services that:
        </p>
        <ul class="list list-bullet">
          <li>do not give users money or benefits</li>
          <li>do not provide access to sensitive information, such as a user’s criminal records</li>
        </ul>
        <div class="panel panel-border-wide">
          <h4 class="heading-small">Example</h4>
          <p>
            The Driver and Vehicle Licensing Agency (DVLA) uses LOA 1 in their <a href="https://www.gov.uk/view-driving-licence">view driving licence information</a> service. This is because the service lets users see information that is not sensitive, and faces a low risk of identity fraud.
          </p>
          <p>
            If a user impersonated someone else to use this service, it is unlikely they would be able to use this information to do any harm to that person.
          </p>
        </div>
        <h3 class="heading-medium">LOA 1 and your users</h3>
        <p>
          If your service uses LOA 1, it will take users:
        </p>
        <ul class="list list-bullet">
          <li>about 5 minutes to create an account with an identity provider (also called a ‘certified company’) &ndash; they only need to do this once</li>
          <li>less than a minute to sign in to your service after they’ve created an account</li>
        </ul>
        <p>
          To create an account, they might be asked:
        </p>
        <ul class="list list-bullet">
          <li>a series of questions that only they know the answer to, like how much their monthly mortgage payments are or when they last took out a mobile phone contract</li>
          <li>to sign in to their online bank account</li>
          <li>to take a photo of themselves and an identity document, such as a driving licence</li>
        </ul>
        <h2 class="heading-large">LOA 2</h2>
        <p>
          LOA 2 offers a higher level of confidence about your users’ identities. It uses multiple pieces of identity evidence, as well as the user’s financial or other history, to check their identity.
        </p>
        <p>
          LOA 2 might be suitable for your service if it:
        </p>
        <ul class="list list-bullet">
          <li>gives users money or benefits</li>
          <li>lets users update information about themselves or access sensitive information, such as criminal records</li>
        </ul>
        <div class="panel panel-border-wide">
          <h4 class="heading-small">Example</h4>
          <p>
            The Department for Business, Energy and Industrial Strategy (BEIS) uses LOA2 in their <a href="https://www.gov.uk/claim-redundancy">claim for redundancy and monies owed</a> service. This is because it could face a high risk of identity fraud.
          </p>
          <p>
            If a user impersonated someone else to use this service, they could get money they’re not entitled to. This could also stop the real user from being paid money they’re owed.
          </p>
        </div>
        <h3 class="heading-medium">LOA 2 and your users</h3>
        <p>
          If your service uses LOA 2, it will take users:
        </p>
        <ul class="list list-bullet">
          <li>about 10 to 15 minutes to create an account with an identity provider &ndash; they only need to do this once</li>
          <li>less than a minute to sign in to your service after they’ve created an account</li>
        </ul>
        <p>
          They’ll usually need at least 2 pieces of identity evidence to create an account. These might include:
        </p>
        <ul class="list list-bullet">
          <li>one or more identity documents such as a passport, birth certificate or driving licence</li>
          <li>one or more accounts in their name, such as a bank account, mobile phone contract or mortgage contract</li>
        </ul>
        <p>
          Email <a href="mailto:connect-to-verify-prototype@digital.cabinet-office.gov.uk">connect-to-verify-prototype@digital.cabinet-office.gov.uk</a> if you need help choosing the right level of assurance for your service.
        </p>
      </div>
    </div>
  </div>
</main>
