---
title: Verify Product Page
---

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">Verify</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Let users verify their identity online</h1>
        <div class="hero__inline-image">
          <img src="images/verify-product-image.png" alt="" role="presentation">
        </div>
        <p class="hero__description">
          GOV.UK Verify allows users to prove their identity online, so you can be sure that people accessing your service are who they say they are.
          Using GOV.UK Verify to prove people's identity means you can build a fully digital service.
        </p>
        <div class="panel panel-border-wide">
        <p>This guidance is for government teams building digital services. If you’re a member of the public you can
          <span class="hero-alternative-action">
            <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">find out more about GOV.UK Verify</a>.
          </span>
        </p>
      </div>
      </div>
      <div class="hero__aside-image">
        <img src="images/verify-product-image.png" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2 class="content-section__title">Benefits of GOV.UK Verify</h2>
        <p class="content-section__body">Using GOV.UK Verify means you can be sure users are who they say they are, without having to build your own digital identity solution.</p>
        <p class="content-section__body">
          GOV.UK Verify also:
          <ul class="list list-bullet">
            <li>reduces identity fraud</li>
            <li>saves departments money because it replaces expensive methods of proving identity like face-to-face services</li>
            <li>protects user privacy</li>
            <li>saves users time because they can use a single identity account to access different government services</li>
          </ul>
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="content-section__title">Integrate GOV.UK Verify into your service</h2>
        <p class="content-section__body">To integrate GOV.UK Verify into your service, there’s an <a href="http://alphagov.github.io/identity-assurance-documentation/">onboarding process</a>.</p>
        <p class="content-section__body">GOV.UK Verify is replacing Government Gateway soon. If you run a service that needs individuals to prove their identity, you must integrate GOV.UK Verify into your service. If your users are businesses or agents, continue using Government Gateway.</p>
      </section>

    </div>

    <div class="column-one-third">
      <aside class="related-items">
        <h2 class="related-items__title">Related content</h2>
        <ul class="related-items__list">
          <li><a href="http://alphagov.github.io/identity-assurance-documentation">Onboarding Guide</a></li>
          <li><a href="http://alphagov.github.io/rp-onboarding-tech-docs/index.html">Technical Guide</a></li>
          <li><a href="https://identityassurance.blog.gov.uk">GOV.UK Verify blog</a></li>
        </ul>
      </aside>
    </div>
  </div>

<div class="grid-row">
  <div class="column-two-thirds">
   <section class="content-section content-section--with-top-border">
     <h2 class="content-section__title">Why is GOV.UK Verify safe?</h2>
     <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered">
       <div class="responsive-embed__wrapper">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/Vtu7eKc6QpY" frameborder="0" allowfullscreen=""></iframe>
       </div>
     </div>
   </section>
  </div>
</div>
 
  <section class="content-section content-section--with-top-border">
    <h2 class="content-section__title">Who’s using GOV.UK Verify?</h2>
    <div class="grid-row">
        <div class="column-one-quarter">
          <p>
            <span class="data-item bold-xlarge">7</span>
            <span class="data-item bold-xsmall">
              departments
            </span>
          </p>
        </div>
        <div class="column-one-quarter">
          <p>
            <span class="data-item bold-xlarge">15</span>
            <span class="data-item bold-xsmall">
              services
            </span>
          </p>
        </div>
        <div class="column-half">
          <p>
            <span class="data-item bold-xlarge">Over 1.8 million</span>
            <span class="data-item bold-xsmall">
              <a href="https://www.gov.uk/performance/govuk-verify/account-use">verified accounts</a>
            </span>
          </p>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-two-thirds">
          <p class="content-section__body">GOV.UK Verify is integrated into services run by HMRC, DWP, DVLA, DEFRA and BEIS.
            More services are joining all the time. We’re also running pilots with several local authorities.
            Read more on the <a href="https://identityassurance.blog.gov.uk/">GOV.UK Verify blog</a>.
          </p>
        </div>
      </div>
  </section>

  <div class="grid-row">
    <div class="column-half">
      <section class="content-section content-section--with-top-border">
        <h2 class="content-section__title">Contact the team</h2>
        <p><a href="mailto:idasupport+onboarding@digital.cabinet-office.gov.uk">Contact the team</a> if you have any questions about GOV.UK Verify.</p>
        <p>
          GOV.UK Verify is built and supported by a full time team at the Government Digital Service.
          The programme manager is Jessica McEvoy.
        </p>
        <p>
          <a href="https://www.signin.service.gov.uk/feedback?feedback-source=PRODUCT_PAGE">Is there anything missing from this page?</a> 
        </p>

      </section>
    </div>
    <div class="column-half">
      <section class="content-section">
        <img src="images/verify-team.jpg" class="content-section__image">
      </section>
    </div>
  </div>

</div>
