---
title: Site map – GOV.UK Verify
---

<div class="govuk-width-container">
  <nav aria-label="Breadcrumb" class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#components">Components</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a href="#main">Site map</a>
      </li>
    </ol>
  </nav>
</div>

<main class="govuk-main-wrapper" id="main" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Site map
        </h1>
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="/">GOV.UK Verify Home</a>
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/connecting">Connecting to Verify</a>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
              <li>
                <a class="govuk-link" href="/how-verify-works">How GOV.UK Verify works</a>
              </li>
              <li>
                <a class="govuk-link" href="/understand-levels-of-assurance">Different levels of assurance (LOA)</a>
              </li>
              <li>
                <a class="govuk-link" href="/risk-assessment">Risk assessment</a>
              </li>
              <li>
                <a class="govuk-link" href="/design-your-service">User journey</a>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
                  <li>
                    <a class="govuk-link" href="/user-journey-loa1">LOA1 service</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="/user-journey-loa2">LOA2 service</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="govuk-link" href="/do-research-prototype">Do user research</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="govuk-link" href="/support">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
