---
title: Support – GOV.UK Verify
---

<div class="govuk-width-container">
  <nav aria-label="Breadcrumb" class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#components">Components</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a href="#main">Support</a>
      </li>
    </ol>
  </nav>
</div>

<main class="govuk-main-wrapper" id="main" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Support
        </h1>
        <div>
          <h2 class="govuk-heading-l">
            What to do when your sevice is experiencing issues
          </h2>
          <p class="govuk-body">
            GOV.UK Verify is supported 24 hours a day, 7 days a week by a full-time team at the Government Digital Service.
          </p>
          <div class="govuk-inset-text">
            <p class="govuk-body">
              If you’re trying to access a government service and need help to sign into your Verify account
              <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#how-to-get-help-signing-in" class="govuk-link">find out who to contact</a>.
            </p>
          </div>
          <p class="govuk-body">
            If there are disruptions to your service and you think they’re connected to Verify, your Matching Service Adapter or Verify Service Provider:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
            check if there are any
            <a href="https://verifystatus.digital.cabinet-office.gov.uk/" class="govuk-link">ongoing incidents</a>:
            if it's a known issue with the platform, it will show there and we'll keep our users updated on how the incident is progressing
            </li>
            <li>
              if there are no incidents, email
              <a href="mailto:idasupport@digital.cabinet-office.gov.uk" class="govuk-link">idasupport@digital.cabinet-office.gov.uk</a>
              with the details of the problem your service is experiencing
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
