---
title: Understand the different levels of assurance
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/connecting" itemprop="item"><span itemprop="name">Connecting to GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Understand the different levels of assurance</span></a>
    </li>
  </ol>
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Understand the different levels of assurance
        </h1>
        <p>
          GOV.UK Verify is designed to protect services and users from online identity fraud. It provides 2 different levels of assurance (LOAs) - LOA1 and LOA2. The higher the LOA, the more confident you can be that your users are who they say they are.
        </p>
        <p>
          When you understand the different LOAs, you should do a <a href="/risk-assessment">risk assessment</a> and discuss the results with the GOV.UK Verify team - they will help you choose the right LOA for your service
        </p>
        <p>
          LOA1 is the lowest level of assurance offered by GOV.UK Verify. It is usually appropriate if you assess that your service’s risk of identity fraud is low.
        </p>
        <p>
          If your assessment indicates your service faces a high risk of identity fraud (for instance, because it offers something of high value such as money or a licence), you might want to use LOA2.
        </p>
        <p>
          If you think your users face a high risk of harm if your service is affected by online identity fraud, email <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> to discuss:
        </p>
        <ul class="list list-bullet">
          <li>
            LOA3 &ndash; appropriate when a user could face serious consequences from someone else using their identity, such as physical harm or financial ruin
          </li>
          <li>
            LOA4 &ndash; appropriate when a user’s life could be threatened by someone else using their identity
          </li>
        </ul>
        <h2 class="heading-large">
          LOA1
        </h2>
        <p>
          LOA1 checks the user’s identity against one or more pieces of identity evidence. This often includes asking questions that only the person the user is claiming to be would know the answer to.
        </p>
        <p>
          LOA1 is suitable for most services that:
        </p>
        <ul class="list list-bullet">
          <li>
            do not give users money or benefits
          </li>
          <li>
            do not provide access to sensitive information, such as a user’s criminal records
          </li>
        </ul>
        <div class="panel panel-border-wide">
          <h3 class="heading-small">
            Example
          </h3>
          <p>
            The Driver and Vehicle Licensing Agency (DVLA) uses LOA1 in their <a href="https://www.gov.uk/view-driving-licence">view driving licence information</a> service. This is because the service lets users see information that is not sensitive, and faces a low risk of identity fraud.
          </p>
          <p>
            If a user impersonated someone else to use this service, it is unlikely they would be able to use this information to do any harm to that person.
          </p>
        </div>
        <h3 class="heading-medium">
          LOA1 and your users
        </h3>
        <p>
          If your service uses LOA1, it will take users:
        </p>
        <ul class="list list-bullet">
          <li>
            about 5 minutes to create an account with an identity provider (also called a ‘certified company’) &ndash; they only need to do this once
          </li>
          <li>
            less than a minute to sign in to your service after they’ve created an account
          </li>
        </ul>
        <p>
          To create an account, they might be asked:
        </p>
        <ul class="list list-bullet">
          <li>
            a series of questions that only they know the answer to, like how much their monthly mortgage payments are or when they last took out a mobile phone contract
          </li>
          <li>
            to sign in to their online bank account
          </li>
          <li>
            to take a photo of themselves and an identity document, such as a driving licence
          </li>
        </ul>
        <h2 class="heading-large">
          LOA2
        </h2>
        <p>
          LOA2 offers a higher level of confidence about your users’ identities. It uses multiple pieces of identity evidence, as well as the user’s financial or other history, to check their identity.
        </p>
        <p>
          LOA2 might be suitable for your service if it:
        </p>
        <ul class="list list-bullet">
          <li>
            gives users money or benefits
          </li>
          <li>
            lets users update information about themselves or access sensitive information, such as criminal records
          </li>
        </ul>
        <div class="panel panel-border-wide">
          <h3 class="heading-small">
            Example
          </h3>
          <p>
            The Department for Business, Energy and Industrial Strategy (BEIS) uses LOA2 in their <a href="https://www.gov.uk/claim-redundancy">claim for redundancy and monies owed</a> service. This is because it could face a high risk of identity fraud.
          </p>
          <p>
            If a user impersonated someone else to use this service, they could get money they’re not entitled to. This could also stop the real user from being paid money they’re owed.
          </p>
        </div>
        <h3 class="heading-medium">
          LOA and your users
        </h3>
        <p>
          If your service uses LOA2, it will take users:
        </p>
        <ul class="list list-bullet">
          <li>
            about 10 to 15 minutes to create an account with an identity provider &ndash; they only need to do this once
          </li>
          <li>
            less than a minute to sign in to your service after they’ve created an account
          </li>
        </ul>
        <p>
          They’ll usually need at least 2 pieces of identity evidence to create an account. These might include:
        </p>
        <ul class="list list-bullet">
          <li>
            one or more identity documents such as a passport, birth certificate or driving licence
          </li>
          <li>
            one or more accounts in their name, such as a bank account, mobile phone contract or mortgage contract
          </li>
        </ul>
        <p>
          Email <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> if you need help choosing the right level of assurance for your service.
        </p>
        <p class="space-mt-30">
          <a href="/connecting">Return to overview</a>
        </p>
      </div>
    </div>
  </div>
</main>
