---
title: How the LOA2 user journey works
---

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#components">Components</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/connecting">Connecting to GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/design-your-service">Design how your service sends users to GOV.UK Verify</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        How the LOA2 user journey works
      </li>
    </ol>
  </div>

  <div class="container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          How the LOA2 user journey works
        </h1>
        <p class="govuk-body">
          This is a typical user journey for a level of assurance 2 (LOA2) service. It’s different to the <a href="/user-journey-loa1" class="govuk-link">user journey for an LOA1 service</a>.
        </p>
        <p class="govuk-body">
          Before they sign up to GOV.UK Verify, users will be asked some questions to help them choose the right certified company.
        </p>
        <p class="govuk-body">
          They’ll usually need at least 2 documents to create an account with a certified company. These should be from:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a government department, for example a passport</li>
          <li>a bank or building society, for example a credit or debit card</li>
        </ul>
        <p class="govuk-body">
          It typically takes about 10 to 15 minutes to create a GOV.UK Verify account, and less than a minute to sign in after that point.
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full user-journey-diagram">

        <ol class="govuk-list">
          <h2 class="govuk-heading-m">Your service</h2>
          <li>
            <p class="govuk-body">User is asked to prove their identity to use the service</p>
          </li>
          <h2 class="govuk-heading-m">GOV.UK Verify hub</h2>
          <li>
            <p class="blue-bg">User says if they’ve used GOV.UK Verify before</p>
            <!-- if you’ve used Verify before -->
            <ol class="govuk-list">
              <h2 class="govuk-heading-m">Sign in (returning user journey)</h2>
              <p class="govuk-body">It takes less than a minute to sign in.</p>
              <li>
                <p class="govuk-body">User picks a certified company to sign in with</p>
              </li>
              <li class="idp">
                <p class="govuk-body">User signs in with username or email and password</p>
              </li>
              <li class="idp">
                <p class="govuk-body">User receives 2 factor authentication code</p>
              </li>
              <li class="idp">
                <p class="govuk-body">User enters 2 factor authentication code</p>
              </li>
              <h2 class="govuk-heading-m">Your service</h2>
              <li>
                <p class="govuk-body">User continues to use the service</p>
              </li>
            </ol>
          </li>
          <h2 class="govuk-heading-m">Sign up (new user journey)</h2>
          <p class="govuk-body">It takes about 15 minutes to create an account.</p>
          <li>
            <p class="blue-bg">User finds out what GOV.UK Verify is</p>
          </li>
          <li>
            <p class="blue-bg">User finds out about certified companies</p>
          </li>
          <li>
            <p class="blue-bg">User finds out how long it will take to verify themselves and how to create an account</p>
          </li>
          <li>
            <p class="govuk-body">User chooses a certified company</p>
          </li>
          <li>
            <p class="govuk-body">User is asked if they’re over 20 and how long they’ve lived in the UK</p>
          </li>
          <li>
            <p class="govuk-body">User is asked if they have a passport or driving licence</p>
          </li>
          <li>
            <p class="govuk-body">User is asked if they have a mobile phone that can download apps</p>
          </li>
          <li>
            <p class="govuk-body">User chooses a certified company</p>
          </li>
          <li>
            <p class="govuk-body">User is told they need to go to the certified company’s website to create an account</p>
          </li>
          <h2 class="govuk-heading-m">Certified company: create an account</h2>
          <li class="idp">
            <p class="govuk-body">User creates a username or email and password</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User receives a confirmation code by email</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User enters confirmation code</p>
          </li>
          <h2 class="govuk-heading-m">Certified company: set up 2 factor authentication</h2>
          <li class="idp">
            <p class="govuk-body">User adds phone number or chooses an alternative 2 factor authentication method</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User receives authentication code</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User enters authentication code</p>
          </li>
          <h2 class="govuk-heading-m">Certified company: add personal details</h2>
          <li class="idp">
            <p class="govuk-body">User adds their name, age and gender</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User adds and confirms address</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User’s details are checked by the certified company</p>
          </li>
          <h2 class="govuk-heading-m">Certified company: documents are checked</h2>
          <li class="idp">
            <p class="govuk-body">User enters document details</p>
            <ol class="phone govuk-list">
              <li>
                <p class="govuk-body">User downloads the certified company’s app</p>
              </li>
              <li>
                <p class="govuk-body">User takes a photo of the document</p>
              </li>
              <li>
                <p class="govuk-body">User takes a photo of themselves</p>
              </li>
            </ol>
          </li>
          <li class="idp">
            <p class="govuk-body">User adds second document details</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User adds their card or bank details</p>
          </li>
          <h2 class="govuk-heading-m">Certified company: knowledge-based authentication</h2>
          <li class="idp">
            <p class="govuk-body">User answers knowledge-based authentication question 1</p>
          </li>
          <li class="idp">
            <p class="govuk-body">User answers knowledge-based authentication question 2</p>
            <ol class="govuk-list">
              <h2 class="govuk-heading-m">If knowledge-based authentication is unsuccessful</h2>
              <li>
                <p class="govuk-body">User is told they can’t be verified</p>
              </li>
              <li>
                <p class="govuk-body">User sees the other ways to use this service</p>
              </li>
            </ol>
          </li>
          <h2 class="govuk-heading-m">Confirmation: user is sent back to the GOV.UK Verify hub</h2>
          <li class="idp">
            <p class="govuk-body">The certified company tells the user they’ve been successfully verified</p>
          </li>
          <li>
            <p class="blue-bg">GOV.UK Verify confirms that they’ve been successfully verified</p>
          </li>
          <h2 class="govuk-heading-m">Your service</h2>
          <li>
            <p class="govuk-body">User continues to use the service</p>
          </li>
        </ol>

        <p class="govuk-body govuk-!-margin-top-8">
          <a href="/design-your-service" class="govuk-link">Return to Design how your service sends users to GOV.UK Verify</a>
        </p>

      </div>
    </div>
  </div>
</div>
