---
title: Find out if GOV.UK Verify is right for your service
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/connecting" itemprop="item"><span itemprop="name">Connecting to GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Find out if GOV.UK Verify is right for your service</span></a>
    </li>
  </ol>
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Find out if GOV.UK Verify is right for your service
        </h1>
        <p>
          GOV.UK Verify lets your service check your users are who they say they are. This process is called identity assurance.
        </p>
        <p>
          Identity assurance is different from authentication, which usually involves asking a user to create and sign into an account. A user can authenticate themselves (by providing a username and password) without proving their identity.
        </p>
        <p>
          For some services, it’s enough to ask users to authenticate themselves without proving their identity. For example, if your service just needs to recognise that someone has used the service before.
        </p>
        <h3 class="heading-large">
          When you should use GOV.UK Verify
        </h3>
        <p>
          You should use GOV.UK Verify if your service needs to check a user’s identify.
        </p>
        <p>
          Your service might need to do this if it:
        </p>
        <ul class="list list-bullet">
          <li>
            shows a user personal information about themselves, such as their driving licence or passport details
          </li>
          <li>
            gives the user something valuable, such as money or benefits
          </li>
          <li>
            replaces a form that needs to be physically signed by a user
          </li>
        </ul>
        <div class="panel panel-border-wide">
          <h3 class="heading-small">
            Example
          </h3>
          <p>
            The Department for Work and Pensions (DWP) uses GOV.UK Verify to check the identities of users who <a href="https://www.gov.uk/universal-credit/how-to-claim">apply for Universal Credit</a>. This is because the service needs to be sure it pays the right person, and that no one else is trying to claim benefits in their name.
          </p>
          <p>
            GOV.UK Verify can check things like a user’s bank account history or passport details. By using it in their service, DWP can be confident its users are who they say they are.
          </p>
        </div>
        <h2 class="heading-large">
          When GOV.UK Verify might not be right for your service
        </h2>
        <p>
          You might not need to use GOV.UK Verify if your service:
        </p>
        <ul class="list list-bullet">
          <li>
            does not give access to any personal information about a user
          </li>
          <li>
            does not give something valuable to a user, such as money or benefits
          </li>
          <li>
            needs a user to physically go somewhere (such as a court or Post Office) to prove their identity
          </li>
        </ul>
        <p>
          If your service does not need to check a user’s identity but needs to let them access the service again to see or update their information, you can <a href="https://www.gov.uk/service-manual/design/user-accounts">let the user create an account</a> instead.
        </p>
        <div class="panel panel-border-wide">
          <h3 class="heading-small">
            Example
          </h3>
          <p>
            The Department for Work and Pensions (DWP) lets a user create an account for their <a href="https://www.gov.uk/jobsearch">Find a job</a> service. This is so the user can upload and update their CV and check on any job applications they’ve made.
          </p>
          <p>
            The service does not need to use GOV.UK Verify, because it does not give users anything valuable, or allow them to see any personal information they have not provided themselves.
          </p>
        </div>
        <p>
          Email <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> if you need help deciding whether GOV.UK Verify is right for your service.
        </p>
        <p class="space-mt-30">
          <a href="/connecting">Return to overview</a>
        </p>
      </div>
    </div>
  </div>
</main>
