// Content Section Component
//
// Represents a section of content on the product page, with a title and
// optional image.
//
// Example Usage:
//
// <section class="content-section">
//   <h2 class="content-section__title">Section Title</h2>
//   <p class="content-section__body">Lorem ipsum dolor...</p>
// </section>

.content-section {
  margin-top: $govuk-gutter;

  &__title {
    margin-top: 0;
  }

  &__image {
    max-width: 100%;
  }

  &__video {
    border: 1px solid govuk-colour("mid-grey");
    height: 0;
    overflow: hidden;
    position: relative;
    padding: 30px 5px 56.25%;

      iframe, object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  }

  &__transcript {
    margin: 5px 0;
    padding: 5px 0;

      summary:hover {
        background-color: govuk-colour("dark-grey");
      }
  }

  &--with-top-border {
    padding-top: $govuk-gutter;
    border-top: 1px govuk-colour("mid-grey") solid;
  }


  @media only screen and (max-width: 800px) {

    .govuk-column-two-thirds,
    .govuk-column-half,
    .govuk-column-one-half {
      width: 100%
    }

  }

}
