// department logos (adapted from GOV.UK organisation pages)

$generic_crest: url("/images/generic_crest.png");
$hmrc_crest: url("/images/hmrc_crest.png");
$ho_crest: url("/images/ho_crest.png");

.govuk-grid-row.org-row {
  margin: 0;
}

.org__margin {
  margin: 0 0 30px -15px;
}

.org-logo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.1538461538;
  font-weight: 400;
}

.org-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: govuk-colour("black");
  height: auto;
  width: auto;
  direction: ltr;
}

.org-logo__name {
  position: relative;
  top: 3px;
}

.org-logo__crest {
  border-left: 2px solid #0b0c0c;
  padding-top: 20px;
  padding-left: 6px;
}

.org-logo__crest--single-identity {
    background: $generic_crest no-repeat 5px 0;
    background-size: auto 20px;
}

.org-logo__crest--hmrc {
  background: $hmrc_crest no-repeat 5px 0;
  background-size: auto 20px;
}

.org-logo__crest--ho {
  background: $ho_crest no-repeat 5px 0;
  background-size: auto 20px;
}

.brand--department-for-environment-food-rural-affairs .brand__border-color {
  border-color: #00a33b;
}

.brand--department-for-transport .brand__border-color {
  border-color: #006c56;
}

.brand--department-for-work-pensions .brand__border-color {
  border-color: #00beb7;
}

.brand--hm-revenue-customs .brand__border-color {
    border-color: #009390;
}

.brand--home-office .brand__border-color {
    border-color: #9325b2;
}

@media (min-width: 641px) {

  .org-logo {
    font-size: 18px;
    line-height: 20px;
  }

  .org-logo__crest {
      padding-top: 25px;
      padding-left: 7px;
  }

  .org-logo__crest--single-identity {
    background: $generic_crest no-repeat 6px 0;
    background-size: auto 26px;
  }

  .org-logo__crest--hmrc {
    background: $hmrc_crest no-repeat 6px 0;
    background-size: auto 26px;
  }

  .org-logo__crest--ho {
    background: $ho_crest no-repeat 6px 0;
    background-size: auto 26px;
  }

  .column-half.org__margin {
    width: 50%;
  }

}
